<!--
<div class="container" >
  <div class="panel panel-primary">
    <div class="panel-heading">Data Elements</div>
    <div class="panel-body">
      <div class="panel panel-default">
        <div class="panel-heading">Population Dataelements</div>



        <div>
          <table class="table">
            <tr>
              <th>Dataelement</th>

              <th>Population Factor</th>
            </tr>
            <tr *ngFor="let dataelement of dateElements;let i = index">
              <td>
                {{dataelement.displayName }}
              </td>

              <td>  </td>
            </tr> </table>
        </div>

    <!--    <ul class="list-group">
          <li *ngFor="let dataelement of dateElements">
            {{dataelement.displayName }}
          </li>

        </ul>
      </div>
    </div>
  </div>
  </div>
-->
<div class="container">
  <br />
  <div class="row">
    <div class="col-md-3">
      <label>Data set </label>
      <select class="form-control" id="orgunitId"  (change)="SetPopupationDataElements($event)">
        <option value = "">Select Dataset</option>
        <option value = "L2hwAPHJyTd" >Population estimates</option>
        <option value = "XxH3uJX0eFU">Semi-permanent</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="dual-list list-left col-md-5">
      <div class="well text-left">
        <ul class="list-group">
          <li  *ngFor="let de of populationDataelements" (click) = "selectDataElement($event, de.id)"  class="list-group-item" [value] ="de.id" >{{de.name}}</li>
        </ul>
      </div>
    </div>
    <div class="list-arrows col-md-1 text-center">
      <button class="btn btn-default btn-sm move-left">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>

      <button class="btn btn-default btn-sm move-right">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
    <div class="dual-list list-right col-md-5">
      <div class="well">
        <div class="row">
                </div>
        <ul class="list-group">
         <li  *ngFor="let sde of populationSelectedDataElements" class="list-group-item"  (click) = "RemoveSelectedDataElement($event, sde.id)"  class="list-group-item" [value] ="sde.id"  >{{sde.name}}</li>
        </ul>
        <br>
        <ul class="list-group">
       <!--   <li  *ngFor="let de of populationDataelements" class="list-group-item">{{de.name}}</li>-->
        </ul>
      </div>
    </div>

  </div>
</div>






