<div class="container" >
  <div class="panel panel-primary">
    <div class="panel-heading">Population Estimation</div>
    <div class="panel-body">
      <label>Name of the Dataset </label> <div *ngIf="typeofApllication"  class="form-group">
      <select class="form-control" id="title">
        <option *ngFor = "let apptype of typeofApllication"  > {{apptype.name}}</option>
      </select>
    </div>
      <div class="panel panel-default">
        <div class="panel-heading">Population Dataelements</div>

        <ul class="list-group">
          <li class="list-group-item">data element 1 </li>
          <li class="list-group-item">data element 2</li>
          <li class="list-group-item">data element 3 </li>
        </ul>
        </div>
      <div>
        <form  class="form-horizontal">

          <label   >Org Unit Area</label> <input type="text" class="form-control"  required="required"/>
          <div class="panel panel-default">
            <div class="panel-heading">Date Range</div>
          <label   >From </label> <input type="Date" class="form-control"  required="required"/>
          <label   >To</label> <input type="Date" class="form-control"  required="required"/>
            </div>
          <label   >Re-estimate Org Unit Level</label> <input type="text" class="form-control"  required="required"/>
                   <div class="panel panel-default">
            <div class="panel-heading">Org-Unit Levels for</div>
            <label   >Population Factors (Routine Data)</label> <input type="text" class="form-control"  required="required"/>
            <label   >Source Populations Statistics </label> <input type="text" class="form-control"  required="required"/>

          </div>
          <br/>
          <input class="btn btn-primary"  type="submit" value="Calculation Estimations">
        </form>
    </div>
  </div>
  </div>
