<div class="container" >
  <div class="panel panel-primary">
    <div class="panel-heading">Population Estimation</div>
    <div class="panel-body">

        <form  class="form-horizontal" #population = "ngForm">
          <label   >Org Unit</label>
          <select class="form-control" id="orgunitId"  (change) = "onOrgunitSelection($event)" >
            <option value = "">Select Area</option>
            <option *ngFor = "let orgUnit of orgUnitLevel5Orgs" [value] = "orgUnit.id"  >{{orgUnit.name}}</option>
          </select>

          <!--
          <label   >Re-estimate Org Unit Level</label>
          <select class="form-control" id="orglevelId">
            <option value = "">Please select a Org Unit Level</option>
            <option *ngFor = "let level of organisationUnitLevels" name = "orgLevel" NgModel>{{level.displayName}}</option>
          </select>
          -->

          <div class="panel panel-default">
            <div class="panel-heading">Period</div>
          <!--
            <label   >From </label> <input type="Date" class="form-control"  name= "adkMaBHuDha" ngModel required="required"/>
            <label>Select a Period</label> <input type="Date" class="form-control"  name= "adkMaBHuDha" ngModel required="required"/> -->

            <label>Select a Period</label> <input type="Date" class="form-control"  name= "adkMaBHuDha" ngModel required="required"/>

            <!--
            <select class="form-control" id="orgunitId"    >
              <option value = "">Select a Period</option>
             <!-- <option *ngFor = "let orgUnit of orgUnitLevel5Orgs" [value] = "orgUnit.id"  >{{orgUnit.name}}</option>
            </select>
            -->
          </div>


          <div class="panel panel-default">
            <div class="panel-heading">Dataelements use in Population estimates </div>


            <div *ngIf = "populationdataLoaded">

              <div class="row">
                <div class="col-sm-8">Data Element</div>
                <div class="col-sm-4">Value</div>
              </div>


              <div class="row" *ngFor = "let de of populationEstimatesDatavalues; let i = index">
                <div class="col-sm-8">{{de.dataElement}}</div>
                <!--  <div class="col-sm-3">{{appl.created}}</div>-->
                <div class="col-sm-4">{{de.value}}</div>
                </div>
            </div>
<!--
            <ul class="list-group">
              <li *ngFor="let dataelement of populationEstimateDataElements">
                {{dataelement.displayName }}
              </li>

            </ul>

            -->

          </div>

          <div class="panel panel-default"   *ngIf = "TotalHeadCountTotal">
          <div class="panel-heading">PHC Headcount</div>

            <div class="row"  >
              <div class="col-sm-6">{{B5B5g5X2k5Q8kunder5years}}</div>
              <!--  <div class="col-sm-3">{{appl.created}}</div>-->
              <div class="col-sm-3">{{B5g5X2k5Q8kMonthlyHeadCountTotal}}</div>

              <div class="col-sm-3">{{B5g5X2k5Q8kGunder5yearsphcPercentageContribution}}</div>

            </div>

            <div class="row">
              <div class="col-sm-6">{{EnwfwzfrdQ7G59years}}</div>
              <!--  <div class="col-sm-3">{{appl.created}}</div>-->
              <div class="col-sm-3">{{EnwfwzfrdQ7MonthlyHeadCountTotal}}</div>
              <div class="col-sm-3">{{EnwfwzfrdQ7G59yearsphcPercentageContribution}}</div>
            </div>

            <div class="row">
              <div class="col-sm-6">{{pqkbzu3K48G1019years}}</div>
              <!--  <div class="col-sm-3">{{appl.created}}</div>-->
              <div class="col-sm-3">{{pqkbzu3K48GMonthlyHeadCountTotal}}</div>
              <div class="col-sm-3">{{pqkbzu3K481019yearsphcPercentageContribution}}</div>
            </div>

            <div class="row">
              <div class="col-sm-6">{{IovfSP4TNjFG20yearsandolder}}</div>
              <!--  <div class="col-sm-3">{{appl.created}}</div>-->
              <div class="col-sm-3">{{IovfSP4TNjFMonthlyHeadCountTotal}}</div>
              <div class="col-sm-3">{{IovfSP4TNjFG20yearsandolderphcPercentageContribution}}</div>
            </div>

            <div class="row">
              <div class="col-sm-6">Total Headcount</div>
              <!--  <div class="col-sm-3">{{appl.created}}</div>-->
              <div class="col-sm-3">{{TotalHeadCountTotal}}</div>
            </div>



</div>









          <!--
          <label>{{pqkbzu3K48GMonthlyHeadCountTotal}}</label><br>
          <label>{{EnwfwzfrdQ7MonthlyHeadCountTotal}}</label><br>
          <label>{{B5g5X2k5Q8kMonthlyHeadCountTotal}}</label><br>
          <label>{{IovfSP4TNjFMonthlyHeadCountTotal}}</label><br>
          <label>{{TotalHeadCountTotal}}</label><br>
-->


<!--
          <div class="panel panel-default">
            <div class="panel-heading">Proportional Population contributions</div>
            <!--

             <ul class="list-group">
               <li *ngFor="let dataelement of dateElements">
                 {{dataelement.displayName }}
               </li>

             </ul>

          </div>

    -->

          <div class="panel panel-default">
            <div class="panel-heading">Org-Unit Levels for</div>
            <label   >Population Factors (Routine Data)</label> <input type="text" class="form-control"  name= "adkMaBHuDha" ngModel required="required"/>
            <label   >Source Populations Statistics </label> <input type="text" class="form-control"  name= "adkMaBHuDha" ngModel required="required"/>
          </div>
          <br/>
          <input class="btn btn-primary"  type="submit" value="Calculate Estimations">
        </form>
        <pre>{{population.value | json}}</pre>
      </div>
    </div>
  </div>
